<!-- <h1>users</h1>
<form (ngSubmit)="onSubmit" action="post" #myForm="ngForm">
  <div class="form-group"> 
      <label for="username">username</label>
      <input id="username" type="text" placeholder="username"
      required
      [(ngModel)]="username"  name="username" #nn="ngModel"
      dirty="nn.dirty"/>
      <span>{{nn.valid}}</span>
      <span>{{nn.errors?.required}}</span>
      <div [hidden]="nn.valid||nn.pristine" class="alter alter-danger">input your username!</div>
      <div [hidden]="nn.errors?.required" class="alter alter-danger">form wrong!</div>
       <div [hidden]="{{userState}}" class="alter alter-danger">no such user</div>
  </div>

  <div class="form-group"> 
    <label for="password">password</label>
    <input id="password" type="password"
    [(ngModel)]="password"  name="password" placeholder="yourPassword"
    #pp="ngModel"/>
    <div [hidden]="pp.valid||pp.pristine" class="alter alter-danger">input your password!</div>
  </div>

  <div class="form-group">
    <label for="keep-login">keepLogin</label>
    <input type="checkbox" id="keep-login"
    [(ngModel)]="keepLogin" name="keepLogin" #uu="ngModel"/>    
    <span>{{uu.valid}}</span>
  </div>
  <button [class.disabled]="!myForm.form.valid" 
  [class.btn-success]="myForm.form.valid" [disabled]="!myForm.form.valid" type="submit">submit</button>
</form>  

<a (click)="closeContact()">cancel</a>

   -->

<div class="user-block">
	<h2>用户信息</h2>
	<ul class="user-stage" *ngFor="let item of user;">
	  <li class="username">{{item.username}}</li>
	  <li class="name">{{item.name}}</li>
	  <li class="id">{{item.ID}}</li>
	  <li class="authority">{{item.authority}}</li>
	</ul>
</div>


<div class="user-collect-block">
	<h2>收藏夹</h2>
	<div class="user-collect">
		<ul class="type-item-block">
				<!-- let show=lesson.types==type.typeID; -->
			<li *ngFor="let lesson of lessonGroup; let num=index;">
				<div class="lesson-wrapper">
					<a (click)="itemClick(lesson)"  class="book-item-wrapper"> 
						<div class="book-item-img"><img src="{{lesson.picURL}}" alt=""></div>
						<div class="book-item-info">
							<h4>{{lesson.name}}</h4>
							<h5>{{lesson.ID}}</h5>
							<span class="book-info-state">{{info.collectJudge(lesson.ID)}}</span>
						</div>
					</a>
				</div>
			</li>
			<!-- <app-book-infomation [nowState]="generalID" #info></app-book-infomation>   -->
		</ul>
	</div>
</div>