<select name="排序" id="item-queue" (change)="queueJudge(queue.value)" #queue>
	<option value="terms">terms</option>	
	<option value="lessonTypes" selected="selected">lessonTypes</option>
</select>
<div [ngSwitch]="queueState">
	<div *ngSwitchCase="'lessonTypes'">
		<ul>
			<li class="type-block" *ngFor="let type of lessonTypes;let queueNum=index" >
				<h2>{{type.typeID}}</h2>
				<h3>{{type.typeName}}</h3>
				<ul class="type-item-block">
					<li *ngFor="let lesson of lessons; let num=index;">
						<div *ngIf="show(type.typeID,lesson.types)" class="lesson-wrapper">
							<a (click)="itemClick(lesson)"  class="lesson-item-wrapper"> 
								<div class="book-item-img"><img src="{{lesson.picURL}}" alt=""></div>
								<div class="book-item-info">
									<h4>{{lesson.name}}</h4>
									<h5>{{lesson.ID}}</h5>
									<span class="book-info-state">{{info.collectJudge(lesson.ID)}}</span>
									<span class="book-info-state">{{info.selectDisableJudge(lesson.ID)}}</span>
								</div>
							</a>
						</div>
					</li>
				</ul>
			</li>
			<app-book-infomation  [nowState]="generalID" #info></app-book-infomation>  
		</ul>
	</div>
	<div *ngSwitchCase="'terms'">
		<ul>
			<li>
				<h3>第一学期</h3>
				<ul class="type-item-block">
					<li *ngFor="let lessonItem of termtype.first">
							<a  (click)="itemClick(lessonItem)"  class="lesson-item-wrapper"> 
								<div class="lesson-img"><img src="{{lessonItem.picURL}}" alt=""></div>
								<div class="lesson-info">
									<h4>{{lessonItem.name}}</h4>
									<h5>{{lessonItem.ID}}</h5>
									<span class="lesson-state">{{info.collectJudge(lessonItem.ID)}}</span>
									<span class="book-info-state">{{info.selectDisableJudge(lessonItem.ID)}}</span>
								</div>
							</a>
					</li>
				</ul>
			</li>
			<li>
				<h3>第二学期</h3>
				<ul class="type-item-block">
					<li *ngFor="let lessonItem of termtype.second">
						<a  (click)="itemClick(lessonItem)"  class="lesson-item-wrapper"> 
							<div class="lesson-img"><img src="{{lessonItem.picURL}}" alt=""></div>
							<div class="lesson-info">
								<h4>{{lessonItem.name}}</h4>
								<h5>{{lessonItem.ID}}</h5>
								<span class="lesson-state">{{info.collectJudge(lessonItem.ID)}}</span>
								<span class="book-info-state">{{info.selectDisableJudge(lessonItem.ID)}}</span>
							</div>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<h3>第三学期</h3>
				<ul class="type-item-block">
					<li *ngFor="let lessonItem of termtype.third">
						<a  (click)="itemClick(lessonItem)"  class="lesson-item-wrapper"> 
							<div class="lesson-img"><img src="{{lessonItem.picURL}}" alt=""></div>
							<div class="lesson-info">
								<h4>{{lessonItem.name}}</h4>
								<h5>{{lessonItem.ID}}</h5>
								<span class="lesson-state">{{info.collectJudge(lessonItem.ID)}}</span>
								<span class="book-info-state">{{info.selectDisableJudge(lessonItem.ID)}}</span>
							</div>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<h3>第四学期</h3>
				<ul class="type-item-block">
					<li *ngFor="let lessonItem of termtype.fourth">
							<a   (click)="itemClick(lessonItem)"  class="lesson-item-wrapper"> 
								<div class="lesson-img"><img src="{{lessonItem.picURL}}" alt=""></div>
								<div class="lesson-info">
									<h4>{{lessonItem.name}}</h4>
									<h5>{{lessonItem.ID}}</h5>
									<span class="lesson-state">{{info.collectJudge(lessonItem.ID)}}</span>
									<span class="book-info-state">{{info.selectDisableJudge(lessonItem.ID)}}</span>
								</div>
							</a>
					</li>
				</ul>
			</li>
			<app-book-infomation  [nowState]="generalID" #info></app-book-infomation>  
		</ul>
	</div>
</div>