<ul>
  <li *ngFor="let book of books; let num=index" >
    <a (click)="itemClick(book)"  class="book-item-wrapper" > 
      <div class="book-item-img"><img src="{{book.picURL}}" alt=""></div>
      <div class="book-item-info">
        <h4>{{book.name}}</h4>
        <p>{{book.ID}}</p>
        <label for="numbers of audiunce">{{book.read}}</label>
        <span class="book-info-state">{{info.collectJudge(book.ID)}}</span>
      </div>
    </a>
  </li>
  <!-- <router-outlet name="Info"></router-outlet>   -->
</ul>
<app-book-infomation [nowState]="generalID" #info></app-book-infomation>  
