<ul>
  <li *ngFor="let lesson of lessons; let num=index" >
    <a (click)="itemClick(lesson)"  class="book-item-wrapper" > 
      <div class="book-item-img"><img src="{{book.picURL}}" alt=""></div>
      <div class="book-item-info">
        <h4>{{lesson.name}}</h4>
        <p>{{lesson.ID}}</p>
        <label for="numbers of audiunce">{{lesson.read}}</label>
        <span class="book-info-state">{{info.collectJudge(lesson.ID)}}</span>
      </div>
      
  </li>
  <!-- <router-outlet name="Info"></router-outlet>   -->
</ul>
<app-book-infomation [nowState]="generalID" #info></app-book-infomation>  
