ul,li {
    list-style: none;
}
ul {
    width: 100%;
}

li {
    display: inline-block;
    width: 500px;
}

a {
    text-decoration: none;
    color: black;
}
.book-type-wrapper {
    width: auto;
    /* float: left; */
    transition: background-color  .5s ease-in;
    transition: color .5s ease-in;
}
.book-type-info {
    border: 1px solid red;
    border-radius: 7px;
}

.book-type-wrapper:hover{
    background-color: red;
    color: white
}


.type-block {
    display: block;
}