<h1>contact-us works!</h1>
<form (ngSubmit)="onSubmit" action="post" #myForm="ngForm">
    {{diagnostic}}
  <div class="form-group"> 
      <label for="mail">E-mail</label>
      <input id="mail" type="text" placeholder="youremail@xxx.com"
      required
      [(ngModel)]="mail"  name="mail" #nn="ngModel"/>
      <span>{{nn.valid}}</span>
      <!-- <span>{{nn.errors?.required}}</span> -->
      <div [hidden]="nn.valid||nn.pristine" class="alter alter-danger">input your email</div>
      <div [hidden]="" class="alter alter-danger">form wrong!</div>
  </div>

  <div class="form-group"> 
    <label for="address">Address</label>
    <input id="address" type="text"
    [(ngModel)]="address"  name="address" placeholder="yourAddress"
    />
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <select  id="conuntry" 
    required
    [(ngModel)]="country" name=country #uu="ngModel">
      <option *ngFor="let country of countrys" [value]=country>{{country}}</option>
    </select>
    <span>{{uu.valid}}</span>
  </div>
  <button [class.disabled]="!myForm.form.valid" 
  [class.btn-success]="myForm.form.valid" [disabled]="!myForm.form.valid" type="submit">submit</button>
</form>  

<a (click)="closeContact()">cancel</a>