<div [class.active]="nowState" class="book-info">
  <div class="book-info-img">
    <img class="book-info-img-de" src="{{stateLesson.picURL}}" alt="">
  </div>
  <h2 class="book-info-title">{{stateLesson.name}}</h2>
  <p class="book-info-ID">{{stateLesson.ID}}</p>
  <h3>教师:{{stateLesson.teacher}}</h3>
  <span class="book-info-left">名额还剩:{{stateLesson.left}}  </span>
  <span class="book-info-read">已有{{stateLesson.read}}看过  </span>
  <div class="book-info-type">{{typeTransform(stateLesson.types)}}</div>
  <button type="button" (click)="addCollect()" [class.disabled]="disableJudge()" [disabled]="disableJudge()">收藏</button>
  <button type="button" (click)="addSelect()" [class.disabled]="selectJudge()" [disabled]="selectJudge()">选课</button>
</div>