.book-info {
    width: 500px;
    transition: height 2s ease-in;
    border: 2px solid blue;
    border-radius: 5px; 
}

.book-info:after {
    display: table;
    content: "";
    clear: both;
}
.book-info-img {
    float: left;
    height: 200px;
    width: 100px;
}
.book-info-img-de{
    width: 100%;
}

.book-info-active {
    height: 500px;
    transition: height 2s ease-in;
}

button {
    padding: 10px;
    display: inline-block;
    color: white;
    background: black;
    border: 0;
}

.disabled {
    background: gray;
}

.hard-disable {
    display: none;
}

button:hover {
    opacity: .7;
}