.book-nav {
    height: 100%;
    padding: 50px;
}
.book-nav-item {
    float: left;
}    
ul {
    list-style: none;
    padding: 0;
}
.book-nav-close {
    display: block;
    background-image: url("/assets/icon/if_exit-delete-remove-close-x_2931151.svg");
    width: 20px;
    height: 20px;
    float: right;
    background-size:cover; 
    
}

.book-nav-close:hover {
    transform: rotate(135deg);
}

.book-nav-item a {
    display: block;
    border-bottom:1px black solid; 
    padding: 15px 70px;
    transition: transform .2s ease-in;
    transition: color .3s ease-in;
}

.book-nav-item li:nth-child(1){
    border-top:1px black solid;
}

.book-nav-item a:link {
    text-decoration: none;
}

.book-nav-item a:hover {
    transition: color .3s ease-in;
    transition: background-color .3s ease-in;
    color: white;
    background-color: #e3e3e3;
    box-shadow:3px 3px 8px  #e3e3e3;
}
