<div class="book-nav">
  <a href="" target="__blank" class="book-nav-close"></a>
  <h2>nav test</h2>
  <ul class="book-nav-item"> 
    <li><a routerLink="" routerLinkActive="active" href="#" >首页</a></li>
    <li><a routerLink="/books" routerLinkActive="active" href="#" >概览</a></li>
    <li><a href="#">检索</a></li>
    <li><a routerLink="/types" routerLinkActive="active" href="#">分类</a></li>
    <li><a routerLink="/users" routerLinkActive="active" href="#">用户中心</a></li>
    <li><a routerLink="/manage" routerLinkActive="active" href="#">管理页面</a></li>
  </ul>
</div>